<div class="profile">
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info flex-column">
      <div class="image"> <%= gravatar_for(@user, 200) %> </div>
        
        <h1>
          <%= @user.name %>
        </h1>

        
        <%= render 'friend_buttons', user: @user%>
      
    </section>
    <section class="friends">
      <% if @user.friends.any? %>
        <% render 'friendships/friends', friend: @user.friends %>
        <% else %>
        <% end %>
      </section>
    </aside>
    <div class="col-md-8">
      <% if @user.posts.any? %>
        <h3>Posts (<%= @user.posts.count %>)</h3>
        <ol class="posts">
          <%= render @posts %>
        </ol>
      <% end %>
    </div>
    <div></div>
