<p class="status"><%= @user.name %> sent you a friend request! </p>


<div class="pending-request">
<div class="accept">
<%= form_for friendships_url(@user.id) do |f| %>
    <%= f.hidden_field :friend_id, value: @user.id %>
    <%= f.submit "Accept Friend Request", class: "btn btn-primary" %>
<% end %>
</div>
<div class="reject">
<%= form_for(friendships_url(@user.id), html: { method: :delete }) do |f| %>
    <%= f.hidden_field :friend_id, value: @user.id %>
    <%= f.submit "Reject Friend Request", class: "btn btn-warning" %>
<% end %>
</div>
</div>