<% if current_user %>
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
<% end %>

<%= form_for(@post) do |f| %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new post..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>

<h1>All posts</h1>

<%= render @posts %>
