<div class="feed-container">

  <div class="friends-container">
    <% if current_user.friends.any? %>
      <h4><%= pluralize(current_user.friends.count, "Friend") %></h4>
    <% else %>
      <h4>You don't have any friends yet</h4>
    <% end %>
    <ul>
      <% current_user.friends.each do |friend| %>
        <%= render 'friends_container', user: friend %>
      <% end %>
    </ul>
  </div>

  <%= form_for(@post) do |f| %>
  <%= render 'error_messages', object: f.object %>
  <%= f.text_area :content, placeholder: "What's in your mind, #{current_user.name}?", class: "post-textarea"%>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>

<div class="posts-container">
  <%= render @posts %>
</div>

</div>
