<p class="status"><%= user.name %>
  sent you a friend request!
</p>

<% friendship = current_user.pending_requests.find_by(user_id: user.id) %>

  <div class="pending-request">
    <div class="accept">
      <%= form_for friendship do |f| %>
      <%= f.submit "Accept Friend Request", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="reject">
    <%= form_for friendship, html: { method: :delete } do |f| %>
    <%= f.submit "Reject Friend Request", class: "btn btn-warning" %>
  <% end %>
</div>
</div>
